# dependencies
node_modules/
.pnp
.pnp.js

# production
.next/
out/
build/
dist/

# environment
.env
.env.local

# logs
npm-debug.log*
yarn-debug.log*

# editor
.vscode/
.idea
.DS_Store

# deployment packages
deployment/
*.zip
